a:link {
    color: lightgray;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: lightgray;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: gray;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: lightgray;
    text-decoration: underline;
}

/* colors for natiobals */

a.one:link {
    color:#AB0003;
    text-decoration: underline;
}
a.one:visited {
    color:#AB0003;
    text-decoration: underline;
}
a.one:hover {
    color:#AB0003;
    text-decoration: none;
}

p {
    white-space: pre;
    font-family: 'Neuton', serif;
    font-size: 1.17em;
    text-align: center;
}

p.gray {
    color: lightgray;
    text-align: left;
}

p.medgray {
    color: gray;
    text-align: left;
}

p.light {
    font-weight: lighter;
}

.center {
    text-align: center;
}

.normal {
    font-size: 1.17em;
    line-height: 23px;
}

.medium {
    font-size: 1.75em;
}

.light {
    font-weight: lighter;
}

.bolder {
    font-weight: 800;
}

.bold {
    font-weight: bold;
}

.alegreya {
    font-family: 'Alegreya', serif;
}

.verdana {
    font-family: 'Verdana', sans-serif;
}

.helvetica {
    font-family: 'Helvetica', sans-serif;
}

.neuton {
    font-family: 'Neuton', serif;
}

.bigonly {
    font-size: 1.17em;
}
.tall {
    line-height: 1.5em;
    padding-top: 1em;
}

.shorttext {
    line-height: 1.2em;
    font-size: 0.9em;
    text-align: left;
}

.big {
    padding-top: 1em;
    font-size: 1.17em;
}

.gray {
    color: dimgray;
}

.text {
    color: red;
    text-align: center;
    margin-left: 99%;
    margin-right: auto;
    width: 6em;
    font-family: 'Neuton', serif;
    opacity: 0;
}

.textbox {
    max-width: 600px;
    margin: auto;
}

.fb {
    padding: 1px 1px 1px 10px;

}

.pic {
    width: 80px;
    height: 130px;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url(https://cloud.githubusercontent.com/assets/5025092/5633733/3728408c-95a8-11e4-83dd-c2cea5df57c8.png) no-repeat;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.pic:hover .text {
    opacity: 1;
    text-align: justify;
    filter: alpha(opacity=50);
    font-size: 20px;
    font-weight: 700;
    font-family: 'Neuton', serif;
}

.myshadow {
    box-shadow: 10px 10px 5px lightgray;
}

.shadowfilter {
    margin-left: auto;
    margin-right: auto;
    width: 91px;
}

.shadowfilter:hover {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
}

.imagedropshadow {
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.imgborder {
    border: 5px solid #14225A;
}

.headimg {
    height: 50%;
    width:  50%;
    display: inline-block;
    padding-top: 10px;
}

.imgwidth {
    max-width: 370px;
}

.fullmax {
    max-width: 100%;
    max-height: 100%;
}

span {
    display: inline-block;
}

.container {
    max-width: 800px;
}

.imgcontain {
    object-fit: contain;
}

.imgfill {
    object-fit: fill;
}

.imgscale {
    object-fit: scale-down;
}

a:hover img.imagedropshadow {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

/* 
font-family: 'Neuton', serif;
font-family: 'Alegreya', serif;
*/
